<% content_for :title do %>Sobre<% end %>

<div id="page" class="container">
  <div class="row">
    <div class="grid-4 offset-1">

      <h2>Sobre</h2>

      <p>
        Este website permite recolher informação sobre as rendas dos quartos e casas de Coimbra.
        O objectivo é fornecer dados e estatísticas sobre os preços das rendas, que ajudem os cidadãos a tomar melhores decisões e analisar a realidade imobiliária da cidade.
      </p>

      <p>
        Sabemos que o preço das rendas de uma cidade dependem de muitos factores para além da localização e topologia, mas queremos começar com uma recolha simples que nos permita ter rapidamente um número de dados suficiente para caracterizar as diferentes zonas de Coimbra.
      </p>

      <p>
        Em qualquer momento, pode fazer download de todas os dados recebidos no formato CSV. Basta escolher a opção <em>Exportar</em> no menu acima.
      </p>

      <p>
        Escolhemos usar códigos postais porque, embora identiquem uma localização precisa da cidade, garantem que os dados submetidos são anónimos (não permitem dintinguir uma moradia específica, por exemplo). A localização das ruas correspondentes aos códigos postais foi obtida automaticamente e, portanto, incluem alguns erros. Contacta-nos se identificares algum desses erros.
      </p>

      <p>
        Este é um projecto desenvolvido no <a href="http://improvecoimbra.org">Improve Coimbra</a>, um evento mensal com o objectivo de encontrar e implementar soluções para melhorar Coimbra.
      </p>

      <p>
        O código fonte está disponível no <a href="https://github.com/ImproveCoimbra/rendas">GitHub</a>.
      </p>

    </div>
  </div>
</div>
