<h2>Obrigado!</h2>

<p><%= @rent.price.to_i %>€</p>

<p><%= @rent.typology %></p>

<p><%= @rent.address %></p>

<hr>

<div id="rentMedianChart">
  <svg class="rentMedianChart"></svg>
</div>

<script>
  (function () {
    "use strict";

    window.app = {};

    app.TYPOLOGIES = {
      QUARTO: "Quarto",
      T0: "T0",
      T1: "T1",
      T2: "T2",
      T3: "T3",
      T4P: "T4+",
    };

    app.PAGE = "RESULT";
  }());
</script>

<%= gmaps(
  :markers => {
    :data => @rent.to_gmaps4rails,
  },
  :map_options => {
    :container_class => 'map-container grid-6',
    :language => 'pt', :hl => 'pt', :region => 'pt',
    :center_latitude => 40.20119879996395,
    :center_longitude => -8.426894545555115,
    :zoom => 13
  }
) %>
